/**
 * Basiccart css file
 */

.basiccart-grid {
  border: none;
  color: #363636;
  display: table;
  margin: auto;
  padding: 0;
  width: 100%;
}

.basiccart-grid .row {
  display: table-row;
  float: left;
  left: 100%;
  width: 100%;
}

.basiccart-grid .cell {
  display: table-cell;
  float: left;
}

.basiccart-grid .cell img {
  vertical-align: middle;
}

.basiccart-grid .clr {
  border-bottom: 1px solid #eeeeee;
  display: table-row;
  float: left;
  left: 100%;
  width: 100%;
}

.basiccart-grid form {
  margin: 0;
  padding: 0;
}

.basiccart-add-to-cart {
  margin: 10px 0;
}

.basiccart-cart {
  margin: 0 0 25px 0;
  width: 100%;
}

.basiccart-cart-contents {
  padding: 5px;
}

.basiccart-cart-total-price-contents {
  padding: 5px;
}

.basiccart-delete-image.cell {
  margin: 0 10px 0 0;
}

.basiccart-cart-checkout-button {
  margin: 10px 0;
}

.basiccart-cart-checkout-button a.button {
  float: right;
  margin-right: 0;
}

.basiccart-cart-checkout-button-block {
  margin: 10px 0 0 0;
}

.basiccart-cart-checkout-button-block a.button {
  margin-bottom: 0;
}

.basiccart-cart-quantity.cell {
  float: right;
}

.basiccart-cart-node-title {
  width: auto;
}

.basiccart-cart-x.cell {
  float: right;
  padding: 1px 10px 3px 10px;
}

.basiccart-cart-unit-price.cell {
  float: right;
  margin: 0;
  text-align: right;
  width: 100px;
}

.basiccart-block .basiccart-cart-node-title {
  width: 100%;
}

.basiccart-block .basiccart-cart-unit-price,
.basiccart-block .basiccart-cart-x,
.basiccart-block .basiccart-cart-quantity {
  float: left;
  text-align: right;
  width: auto;
}

.basiccart-total-price.cell,
.basiccart-total-vat.cell {
  float: right;
}

.basiccart-cart-total-vat-contents,
.basiccart-block-total-vat-contents {
  padding: 0 5px;
}

.basiccart-total-vat.cell {
  color: #6C6C6C;
  font-size: 11px;
}

.basiccart-order-details td {
  border: 1px solid #ccc;
}

.basiccart-order-label {
  background-color: #efefef;
  font-weight: bold;
  width: 100px;
}

.basiccart-order-value {
  background-color: #fff;
}

.basiccart-order-product-price,
.basiccart-order-total-price {
  float: right;
}

.basiccart-order-vat {
  float: right;
  font-weight: normal;
}

.basiccart-call-to-action {
  text-align: right;
}

.form-item-basiccart-checkout-city {
  float: left;
  width: 350px;
}

.form-item-basiccart-checkout-zipcode {
  float: left;
  width: 150px;
}

.form-item-basiccart-checkout-message {
  clear: both;
}

.basiccart-delete-image-image {
   background-image: url("../images/delete2.png no-repeat");
   background-repeat: no-repeat;
}
/* add to cart */
.addtocart-quantity-wrapper-container {
  margin:10px 0;
}
.addtocart-quantity-wrapper-container label{ 
 display: inline-block;
 vertical-align: middle;
}
.addtocart-quantity-wrapper-container .quantity_dynamic_text {
  vertical-align: middle;
  display: inline-block;
  width: 25%;
  border-radius: 5px;
  border: 1px solid rgba(53, 52, 52, 0.35);
  padding: 5px 8px;
}
.addtocart-link-class {
  margin: 5px 0 10px;
}
a.basiccart-get-quantity {
  border-radius: 5px;
  font-weight: 700;
  background: none;
  border: 1px solid #aaa;
}
/* add to cart end */
